# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Sanal ortamlar
.venv/
venv/
env/

# Ortam / gizli
.env
.env.*
*.token

# Bot çalışma çıktıları
bot.log
*.log
prom/
lua_bin/

# İşletim sistemi
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
